/.gitignore         export-ignore
/.gitattributes     export-ignore
/.editorconfig      export-ignore

/.env               export-ignore
/otel-config.yaml   export-ignore
/example.php        export-ignore
